* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
    width: 600pt;
    margin: 0 auto;
    padding: 0;
    background-color: #f6eee3;
}

header, nav, main, footer {
    margin: 0;
    padding: 5pt;
    overflow: auto;
    background-color: #e5decf;
}

header {
    text-align: center;
    font-size: 64pt;
}

footer {
    text-align: right;
    font-size: 8pt;
}

footer li {
   display: inline-block;
}
